#scroll_container {
  @extend %position_relative;
  float: right;
  display: table-row;
  width: 28em;
  padding: 3px;
  top: 3.5em;
  right: 2em;
  z-index: 1;
}

#title {
  text-align: center;
}

#item_text {
  font-size: $font-size;
  fill: rgba(250,250,250,1);
  text-shadow: 0px 0px 25px rgba(0, 0, 0, .5);
  font-weight: 300;
}

#title_container {
  text-align: center;
  display: block;

  font-size: $font-size;
  line-height: 1.5;
  margin: 1% 3% 0px 10px;
  z-index: 2;
}

#show_date {
  text-align: center;
  border: 1px solid $gray;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  /*border-width: 0.001em;*/
}

#show {
  display: inline-block;
}

#scroll_bar {
  display: block;
  margin: 0em auto;
  margin-top: 0.4em;
  max-width: 20em;
}

#scroll_bar_container {
  display: flex;
  align-items: center;
  height: 2em;
}

#scroll_bar_option {
  text-align: center;
}


.bubble_optionButton{
  margin: 5px 3em;
  &:hover{
    cursor: pointer;
    color: $orange;
  }
}

#super_container {
  @extend %position_relative;
  background: transparent;
  line-height: 1.5;
  font-size: $font-size;
  margin: 0em auto;
  max-width: 800px;
  display: block;
}

div.bubble_tooltip {
  @extend %position_absolute;
  text-align: center;
  max-width: 400px;
  max-height: 100px;
  background: none repeat scroll 0 0 white;
  border: none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  padding: 5px;
  line-height: 1.5;
  font-size: $font-size - 2px;
  letter-spacing: $letter-spacing-s;
  pointer-events: none;

  .bubble_tooltipName{
    color: $orange;

    font-weight: bold;
    font-size: $font-size + 2px;
  }
}


input[type="range"] {
  -webkit-appearance: none;
  border-radius: 2px;
  width: 400px;
  height: 3px;
  background-image: -webkit-linear-gradient(left, #222 0%, #222 0%, $gray 0%, $gray 100%);
  box-shadow: inset #eee 0 0 5px;
  outline: none;
  transition: .1s;
  display: inline-block;
  margin: 0em auto;
  vertical-align: middle;
}

input[type="range"]::-moz-range-progress {
  background: #222;
  border-radius: 2px;
  display: inline-block;
  background-color: $gray;
  margin: 0em auto;
  height: 3px;
  left: 0%;
}

input[type="range"]::-webkit-slider-thumb {
  @extend %position_relative;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: #eee;
  border-radius: 50%;
  border: 1px solid #cccccc;
  /*pointer-events: none;*/
  left: 0%;
}


.bubble_title{
  @extend .focus_title;
  width: 500px;
}

.description{
  @extend %position_absolute;
  left: -4em;
  top: 10px;

  font-size: $font-size;
  line-height: 1.2;
  letter-spacing: $letter-spacing-s;

  border: 2px solid $orange;
  padding: 5px 7px;
  border-radius: 11px;
  background: white;

  > .descriptionTime{
    text-align: center;
    font-family: 'Noto Sans TC' ;
    font-size: $font-size-m;
    letter-spacing: $letter-spacing-m;
  }

  > .descriptionItem{
    font-family: 'Noto Sans TC' ;
    font-weight: 200;
    padding: 5px 0px 0px 9px;
  }
}
