#pie-chart{
    text-align:center;
}
#bar-chart{
    text-align:center;
}
.bar {
    /*fill: steelblue;*/
    border-radius: 2px;
}
.pie-path{
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
/*    backface-visibility: hidden;*/
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.pie-path:hover,.pie-path:focus,.pie-path:active {
    transform: scale(1.03);
}
.path{
  border:2px red;
}

.grid .tick {
    stroke: #E0E0E0;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.axis text {
    font: 15px sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    color: #3d3d3d;
    letter-spacing: 1.5px;
}
.axis path,
.axis line {
    fill: none;
    stroke: #E0E0E0;
    shape-rendering: crispEdges;
}

.axis path {
    display: none;
}
.x {
  display: none;
}
text {
  font-size: 14px;
}

// form {
//   position: absolute;
//   right: 10px;
//   top: 10px;
// }

text.bartip {
  font-family: 'Noto Sans TC';
  font-size: 13px;
  font-weight: 200;
}
text.area_name{
  font-size: $font-size-m;
}

.time_intaveral{
  font-size: $font-size;
}

.infocus.reactive.item{
  box-sizing: border-box;
  margin: 0px;
  &:hover , &:focus{
    border: 1px solid $orange;
    background-color: rgba(0,0,0,.05);
  }
}


.focus_title{
  @extend %position_relative;
  margin: 1% 0px 1% 5%;
  width: 300px;
  text-align: center;
  padding: 13px 0px 10px 0px;
  // border: 2px solid $orange;


  h2{
    color: $orange;
    font-size: $font-size-m;
  }

  span{
    color: $black;
    font-size: $font-size-l + 3px ;
    letter-spacing: $letter-spacing-l;
  }

  > .focus_ulBox{
    margin: 7px 0px 0px 65px;
    text-align: left;
  }

  li{
    letter-spacing: $letter-spacing-s;
    padding-top: 6px;
    cursor: pointer;
    &:hover{
      color: $orange;
    }
  }

  .noHover{
    font-weight: bold;
    cursor: auto;
    &:hover{
      color: $black;
    }
  }
}
