.header{
	@extend %flex_align_center;
	@extend %section_setting;
	justify-content: space-between;

	letter-spacing: $letter-spacing-s;
  border-bottom: solid 1px $gray;

	.header_left{
		@extend %flex_align_center;
		position: relative; // Firefox 一定要這樣吃
		font-size: $font-size-s;
		cursor: pointer;

		> img{
			width: 100px;
		}

		#header_title{
			letter-spacing: $letter-spacing-m;
	    font-weight: bolder;
	    font-size: $font-size-m + 3px;
	    margin-top: 5px;
		}

		&:after{
			@extend %position_absolute;
	    opacity: 0; 
	    content: '';
	    width: 100%;
	    height: 5px;
	    bottom: -7px;
	    left: 0px;
	    background: $orange;
	    border-radius: 20px;
		}

		&:hover{
			&:after{
				opacity: 1;
			}
		}
	}

	.mob-header, .mob-menu{
		display: none;
	}

	ul.header_right{
		@extend %position_relative;
		@extend %flex_align_center;
		justify-content: space-around;
		align-self: flex-end;
		top: -6px;
		-moz-transform: translateY(-20%); // 因為 Firefox 比較短，所以要提高一些
		font-size: $font-size + 2px;
	}

	li.header_item{
		@extend %flex_align_center;
		position: relative;
		align-self: flex-end;
		margin: 0px 12px;
		color: $gray;

		> img{
			width:20%
		}

		> p{
			@extend %position_relative;
			padding-left: 5px;
		}
		.itemSupportText{
			@extend %position_absolute;
			width: 270%;
			top: 37px;
			left: -70px;
			font-size: $font-size-s;
			color: $black;
			opacity: 0;
		}

		&:after{
			@extend %position_absolute;
			opacity: 0;
	    content: '';
	    width: 100%;
	    height: 5px;
	    left: 0px;
	    bottom: -13px;
	    -moz-bottom: -8px;
	    background: $orange;
	    border-radius: 20px;
		}

		&:hover{
			cursor: pointer;
			color: $black;

			&:after{
				opacity: 1;
			}
		}
	}
}


.questionBox, .mob-support{
	position: relative;
  align-self: flex-end;
  padding: 11px;
  z-index: 3;
  cursor: help;
  font-size: $font-size-s;

  .fa-question-circle{
		font-size: $font-size + 2px;
  }

	&:hover{
		box-shadow: 1px 2px 3px 2px rgba(0,0,0,0.2);

		.supportBox, .triangleL, .triangleS{
			display: block ;
		}
		.fa-question-circle{
			color: $orange;
		}
	}
}

.triangleL{
	@extend %position_absolute;
	display: none;
	left: 26px;
	top: 6px;
	width:0;
  height:0;
  border-width:0 13px 25px;
  border-style:solid;
  border-color:transparent transparent $orange;

  transform: rotateZ(-90deg);
}

.triangleS{
	@extend .triangleL;
  left: 31px;
  top: 9px;
  border-width: 0 11px 19px;
	border-color:transparent transparent rgba(253, 253, 253, 1);	
	z-index: 4;
}

.supportBox{
	@extend %position_absolute;
	display: none;
  top: -10px;
	left: 45px;
	padding: 5px;
	width: 33em;
	border: 2px solid $orange;
	z-index: 3;

	text-align: center;
	font-size: $font-size-s + 1px;
	background-color: rgba(253, 253, 253, 1);

	> .itemBox{
		display: flex;
		flex-wrap: wrap;

		padding: 3px;
		line-height: 1.5;
		letter-spacing: $letter-spacing-s + 1px;
		font-family: 'Noto Sans TC';
	}

	> p{
		font-size: $font-size - 2px;
		font-weight: 500;
		padding: 0px 5px 0px 5px;
		font-family: 'Noto Sans TC';
	}

	.box{
		position: relative;
    padding-left: 20px;
	}

	span{
		@extend %position_absolute;
		width: 15px;
		height: 15px;
		left: 0px;
	}
}

.headerItemActive{
	@extend %black;

	.itemSupportText{
		opacity: 0.7 !important;
	}

	&:after{
		opacity: 1 !important;
	}
}


@media (max-width: map-get($break-point, screen-s)) {
	.header {
		.header_left, ul.header_right{
			display: none;
		}

		.mob-menu{
			display: block;
		}

		.mob-header{
	    display: inline-flex;
	    align-items: center;
	    margin-left: 10%;
			&:after {
				opacity: 1;
			}
		}

		.mob-menu-icon {
			font-size: 2em;
			margin: 1em 1em 0px;
		}
		
		.mob-menu {
	    position: fixed;
      width: 90%;
	    height: 100%;
	    left: -100%;
	    top: 0px;
			background-color: $orange;
			z-index: 100;
			color: white;
			cursor: initial;
			box-shadow: 3px 0px 3px 1px rgba(51, 51, 51, 0.5);
	    overflow-y: scroll;
	    @include transition(all, .3s, ease-in);

			h2 {
				margin: 5% 10%;
				font-weight: 400;
				cursor: pointer;

				&:nth-child(2) {
					margin-top: 8%;
				}
			}

			.fa{
				font-size: .7em;
				padding-left: .6em;
			}

			&.mob-menu-active{
				left: 0%;
			}
		}

		.mob-header-title {
			position: relative;
	    margin: 10% 10% 5% 10%;
			letter-spacing: .5em;
			cursor: pointer;
			.fa-align-left {
				margin-left: 0px;
			}
	    &:after {
	    	content: '';
	    	position: absolute;
		    left: -2.5%;
		    top: 110%;
		    width: 105%;
		    height: 2px;
		    background: #f7e227;
	    }
		}

		.mob-support {
			box-shadow: none;
			background: transparent;

			.fa-question-circle {
				font-size: $font-size-m + 2px;
				margin-left: 8%;
			}

	    .supportBox {
	    	@include animation(show 0.1s linear);
	    	display: none;
				position: static;
				width: auto;
				margin-top: 1em;
	    	color: $light-black;
				&.active {
					display: block ;
				}
	    }

	    &:hover {
	    	.fa-question-circle {
					color: white;
				}
	    }
		}
	}

	.questionBox{
		display: none;
	}
}

@media (max-width: map-get($break-point, table-s)) {
	.header {
		.mob-header {
			margin: auto;
		}
	}
}

