.overview_areaName{
  cursor: pointer;
  font-size: $font-size-m ;
  transition: all 0.1s ease-in;
  
  &:hover{
    fill: $orange;
  }
}

.legend{
  text{
    font-size: $font-size-s + 2px;
  }
}

.row {
    display: inline-block;
    vertical-align: top;
}

.path,
.path_special {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    /*    backface-visibility: hidden;*/
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.path:hover,
.path:focus,
.path:active {
    transform: scale(1.1);
}

.path_special:hover,
.path_special:focus,
.path_special:active {
    transform: scale(1.1);
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}
