@import 'setting';
@import 'header';
@import 'focus';
@import 'overview';
@import 'bubble';

.disable{
	display: none !important;
}

.section{
	@extend %section_setting;
	@include animation(show 0.1s linear);		
}

@include keyframes(show) {
	from{ opacity: 0;}
	to{ opacity: 1;}
}

// ---- Semantic-UI Rewrite
.ui.selection.dropdown{
	border-radius: 0;
	border: none;
	font-weight: lighter;

	&:focus , &:hover{
		border: 1px solid $orange;
		box-sizing: border-box;
	}

	&:after{
    @extend %position_absolute;
    content: '';
    background: $orange;
    width: 100%;
    height: 2px;
    left: 0px;
    bottom: -2px;
	}
}

.ui.selection.active.dropdown{
	border-color: $orange;
	&:hover{
		border-color: $orange;
		.menu{
			border-color: $orange;			
		}
	}
	.menu{
		border-color: $orange;
	}
}

.ui.right.floated.menu{
	margin-top: 1%;
	border-radius: 0px;
	font-size: $font-size - 1px;
}

.ui.compact.menu .item{
	&:last-child, &:first-child{
		border-radius: 0px;
	}
}



