<div id = "super_container">
	<div id="title_container">
		<span id="title">testtest</span>
		<div id="scroll_container">
			<div id="show_date">2016-11-09</div>
			<div id="scroll_bar_container">
                <br>
                <input type="range" min="0" max="100" step="1" value="0">
			</div>
			<div id="option_container">
				<div id="scroll_bar_option">
					<i id="play_icon" class="fa fa-play fa"></i>
					<i id="pause_icon" class="fa fa-pause fa"></i>
					<i id="stop_icon" class="fa fa-stop fa"></i>
				</div>
			</div>
		</div>
	</div>
      <br>
      <div id="show">
          <div id="description" align="center" style="font-size:2em">違規停車</div>
  		<div id="bubble_chart"></div>
      </div>
</div>
<div id="bubbule_tooltip"></div>