<div class="infocus ui right floated compact menu">
  <div class="infocus item" ><i class="Hourglass End icon" href="/"></i><b>時間</b></div>
  <a class="infocus reactive item active" value ='w'>
    一星期
  </a>
  <a class="infocus reactive item" value ='m'>
    一個月
  </a>
  <a class="infocus reactive item" value ='y'>
    一年內
  </a>
</div>

<div class = "focus_title">
  <h2><span class = "area_name">台南市</span>詳細統計</h2>
  <ul class = "focus_ulBox">
    <li class = "noHover">外圈: 33 項案件資訊</li>
    <li class = "noHover">內圈:&nbsp;&nbsp;9&nbsp;大類別資訊</li>
  </ul>
</div>

<div id="pie-chart"></div>
<div id ="bar-chart"></div>