
<div class="infocus ui right floated compact menu">
  <div class="infocus item" ><i class="Hourglass End icon" href="/"></i><b>時間</b></div>
  <a class="infocus reactive item" value ='w'>
    這禮拜
  </a>
  <a class="infocus reactive item" value ='m'>
    這個月
  </a>
  <a class="infocus reactive item" value ='y'>
    今年
  </a>
</div>

<div id="pie-chart"></div>
<div id ="bar-chart"></div>