<div class="ui right floated basic buttons">
  <div class="ui button active">時間</div>
  <div class="ui button">一週</div>
  <div class="ui button">一個月</div>
  <div class="ui button">一年</div>
  <div class="ui button">自訂區間</div>
</div>
<div id="pie-chart"></div>
<div id ="bar-chart"></div>