<footer class="footer">
  <p>台南市政府&nbsp;<a href="http://rdec.tainan.gov.tw/rdec/" target="_blank"> 研究發展考核委員會</a></p>
  <p>網站製作&nbsp;<a href="http://www.taiwanstat.com/" target="_blank">用數據看台灣</a></p>
</footer>