<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:title" content="{{ title }}">
<meta property="og:site_name" content="{{ title }}">
<meta property="og:description" content="">
<title>{{ title }}</title>

<link rel="shortcut icon" href="./src/favicon.ico" type="image/x-icon">
<link rel="icon" href="./src/favicon.ico" type="image/x-icon">

<link rel="stylesheet" href = "./lib/normalize.min.css">
<link rel="stylesheet" href ="./src/Semantic-UI-Calendar/dist/calendar.min.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/earlyaccess/notosanstc.css" rel="stylesheet">
<link href="./src/Semantic-UI/semantic.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{path}}src/d3.slider.css">
<link rel="stylesheet" href="./src/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href = "./dist/css/index.css">
