<header class = "header">
	<div class = "header_left">
		<img src = "{{path}}dist/img/logo.jpeg">
		<div>
			<p>台南市政府</p>
			<h1 id = "header_title">OPEN 19999 統計資訊</h1>
		</div>
	</div>
	<ul class = "header_right">
		<li class = "item active" id = "item_overview">
			<i class = "fa fa-th-large" aria-hidden="true"></i>
			<p>各區比較<span class = "itemSupportText">(點選區域名稱查看更多資訊唷!)</span></p>
		</li>
<!-- 		<li class = "item" id = "item_focus">
			<i class = "fa fa-search" aria-hidden="true"></i>
			<p>聚焦搜尋</p>
		</li> -->
		<li class = "item" id = "item_bubble">
			<i class = "fa fa-bullseye" aria-hidden="true"></i>
			<p>動態比較</p>
		</li>
	</ul>
</header>