<header class = "header">
	<!-- Screen header -->
	<div class = "header_left header_item headerItemActive" id = "overview" data-myid="overview">
		<img src = "{{path}}dist/img/logo.jpeg">
		<div>
			<p>台南市政府</p>
			<h1 id = "header_title">OPEN 1999 統計資訊</h1>
		</div>
		<div class = "questionBox">
			<i class="fa fa-question-circle" aria-hidden="true"></i>
			<div class = "triangleL"></div>
			<div class = "triangleS"></div>
			<div class = "supportBox">
				<p>所有資料皆為台南市政府1999 API 公開即時呈現</p>
				<p>由用<a href="https://www.taiwanstat.com" target="_blank">數據看台灣團隊</a>協助並幫忙製作</p>
				<hr>
				<p align="left">九大分類</p>
				<div class="itemBox" id = "itemBox9"></div>
				<hr>
				<p align="left">三十三項案件</p>
				<div class="itemBox" id = "itemBox33"></div>
			</div>
		</div>
	</div>
	
	<!-- Mobile-Header -->
	<div class="header_left mob-header mob-active">
		<div>
			<p>台南市政府</p>
			<h1>OPEN 1999</h1>
		</div>

		<i class="mob-menu-icon fa fa-align-left" aria-hidden="true"></i>
	</div>

	<div class="mob-menu">
		<div class="mob-header-title mob-active">
			<p>台南市政府</p>
			<h1>OPEN 1999<i class="mob-menu-icon fa fa-align-left" aria-hidden="true"></i></h1>
		</div>

		<h2 class = "header_item" data-myid="overview">最近一星期概況<i class="fa fa-chevron-right" aria-hidden="true"></i></h2>
		<h2 class = "header_item" data-myid="area-focus">各區熱點比較<i class="fa fa-chevron-right" aria-hidden="true"></i></h2>
		<h2 class = "header_item" data-myid="dynamic-bubble">時間動態比較<i class="fa fa-chevron-right" aria-hidden="true"></i></h2>

		<div class = "mob-support">
			<i id="mob-support-icon" class="fa fa-question-circle" aria-hidden="true"></i>

			<div class = "supportBox">
				<p>所有資料皆為台南市政府1999 API 公開即時呈現</p>
				<p>由用<a href="https://www.taiwanstat.com" target="_blank">數據看台灣團隊</a>協助並幫忙製作</p>
				<hr>
				<p align="left">九大分類</p>
				<div class="itemBox" id = "mob-itemBox9"></div>
				<hr>
				<p align="left">三十三項案件</p>
				<div class="itemBox" id = "mob-itemBox33"></div>
			</div>
		</div>
	</div>

	<ul class = "header_right">
		<li class = "header_item" id="area-focus" data-myid="area-focus">
			<i class = "fa fa-th-large" aria-hidden="true"></i>
			<p>各區比較</p>
		</li>
		<li class = "header_item" id="dynamic-bubble" data-myid = "dynamic-bubble">
			<i class = "fa fa-bullseye" aria-hidden="true"></i>
			<p>動態比較</p>
		</li>
	</ul>
</header>
