<div class = "selectAreaFiled">
	<div class ="field">
		<i class = "fa fa-share" aria-hidden="true"></i>
		移動至
	</div>
	<select name="selectArea" class="overview_selectArea ui fluid normal dropdown">
		<option value="Xinhua">新化區</option>
		<option value="Xinying">新營區</option>
		<option value="Yanshui">鹽水區</option>
		<option value="Baihe">白河區</option>
		<option value="Liuying">柳營區</option>
		<option value="Houbi">後壁區</option>
		<option value="Dongshan">東山區</option>
		<option value="Madou">麻豆區</option>
		<option value="Xaying">下營區</option>
		<option value="Liujia">六甲區</option>
		<option value="Guantian">官田區</option>
		<option value="Danei">大內區</option>
		<option value="Jiali">佳里區</option>
		<option value="Xuejia">學甲區</option>
		<option value="Xigang">西港區</option>
		<option value="Qigu">七股區</option>
		<option value="Jiangjun">將軍區</option>
		<option value="Beimen">北門區</option>
		<option value="Shanhua">善化區</option>
		<option value="Xinshi">新市區</option>
		<option value="Anding">安定區</option>
		<option value="Shanshang">山上區</option>
		<option value="Yujing">玉井區</option>
		<option value="Nanxi">楠西區</option>
		<option value="Nanhua">南化區</option>
		<option value="Zuozhen">左鎮區</option>
		<option value="Rende">仁德區</option>
		<option value="Guiren">歸仁區</option>
		<option value="Guanmiao">關廟區</option>
		<option value="Longqi">龍崎區</option>
		<option value="Yongkang">永康區</option>
		<option value="East">東區</option>
		<option value="South">南區</option>
		<option value="North">北區</option>
		<option value="WestCentral">中西區</option>
		<option value="Annan">安南區</option>
		<option value="Anping">安平區</option>
	</select>
</div>

<div class = "overview_title">
	<h2>台南各區一星期<span>概況</span></h2>
	<p class = "date"></p>
</div>

<div class="row">
	<div class="allColumn"></div>
  	<div class="column"></div>
</div>
